html, body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: yellow;
}
:focus{
    outline: none;
}
section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
section .panel{
    height: 350px;
    width: 300px;
    background: rgb(237, 229, 13);
    border-radius: 10px;
    box-shadow: 0 10px 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
section .panel .caption{
    margin-top: 10px;
    margin-bottom: 5px;
}
section .panel input{
    height: 30px;
    border: 1px solid hsl(155, 92%, 46%);
    border-radius: 5px;
}
section .panel .operators{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .panel .operators button{
    width: 30px;
    height: 30px;
    background: #b1f317;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    border: black solid 1px;
}
section .panel .operators button:hover{
    background: #08e468;
}
section .panel .result{
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 30px;
}

